/*
#parent-div {
   background: #b2beb5;
   border: 0.1em solid black;
}
#default {
   background: #dbe9f4;
}
#centered {
   background: #89cff0;
   width: 50%;
   margin: auto;
}
#centered-text {
   text-align: center;
}
*/
/* 
#top-left-pos {
   background-color: #89cff0;
   border: 0.1em solid black;
   position: absolute;
   width: 200px;
   height: 200px;
   z-index: 4;
}
#bottom-right-tl-parent {
   background-color: #dbe9f4;
   position: absolute;
   bottom: 0px;
   right: 0px;
}
#top-right-pos {
   background-color: #89cff0;
   border: 0.1em solid black;
   position: absolute;
   width: 200px;
   height: 200px;
   top: 0px;
   right: 0px;
}
#bottom-left-tr-parent {
   background-color: #dbe9f4;
   position: absolute;
   bottom: 0px;
   left: 0px;
} */

/* #fixed-pos {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #dbe9f4;
   border-top: 1px solid black;
   margin: 0;
   text-align: center;
} */

#relative-1 {
   background-color: #dbe9f4;
   border: 0.1em solid black;
   height: 100px;
}
#relative-2 {
   position: relative;
   left: 20px;
   top: 30px;
   width: 300px;
   background-color: yellow;
   border: 0.1em solid black;
}
img[src="LittleBrain.png"] {
   float: left;
   padding: 10px;
}
